[class*="col-"] {
    float: left;
    width: 100%;
    padding-right: 10px;
}

@media only screen and (min-width: 600px) {
h1 {
    width: 450px;
    height: 260px;
    font-family: 'Roboto Slab', serif;
    font-size: 70px;
    color: rgb(235, 222, 111);
    -webkit-text-stroke-color: rgb(10, 10, 10);
    -webkit-text-stroke-width: 2px;
    text-align: center;
    top: 35%;
    position: relative;
    background-image:url(afbeeldingen/rotterdam.jpg);
    background-size: 100% auto;
    max-width: 100%;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto; 
}
h2,h3 {
    font-family: 'Roboto Slab', serif;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
#artikels{
    background-color: rgb(211, 184, 236);
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}
#weetjes{
    background-color: rgb(238, 238, 167);
    font-size: 18px; 
    font-family: 'Roboto Slab', serif;
    word-wrap    : break-word;
    overflow-wrap: break-word;
}
#erasmusbrug {
    width: 30%;
    height: auto;
    max-width: 100%;
    float: right;
    margin-right: 10px;
    filter: grayscale(40%);
}
#kubus {
    width: 30%;
    height: auto;
    max-width: 100%;
    float: right;
    margin-right: 10px;
    filter: grayscale(40%);
}

@media only screen and (max-width: 600px) {
    body{
        background-color: rgb(194, 243, 227);
    }
        h1 {
            width: 450px;
            height: 260px;
            font-family: 'Roboto Slab', serif;
            font-size: 70px;
            color: rgb(235, 222, 111);
            -webkit-text-stroke-color: rgb(10, 10, 10);
            -webkit-text-stroke-width: 2px;
            text-align: center;
            top: 35%;
            position: relative;
            background-image:url(afbeeldingen/rotterdam.jpg);
            background-size: 100% auto;
            max-width: 100%;
            background-repeat: no-repeat;
            margin-left: auto;
            margin-right: auto; 
        }
    }
